body {
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 25px;
    min-width: 350px;
}

th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}